@import url('normalize.css');
@import url('defaults.css');
@import url('helpers.css');

/*@import url('animations.css');*/
@import url('animations.css');
@import url('buttons.css');
@import url('charts.css');
@import url('containers.css');
@import url('forms.css');
@import url('headings.css');
@import url('headlines.css');
@import url('icons.css');
@import url('images.css');
@import url('links.css');
@import url('navbar.css');
@import url('pages.css');
@import url('typist.css');

@import url('poll-img.css');
@import url('set1.css');
@import url('voters.css');
