.app {
    height: 100vh;
}

.c {width: 90%;margin: 0 auto;max-width: 1200px;}

.c-small {
    max-width: 200px;
}

.c-splash {
    max-width: 1060px;
    display: flex;
    padding: 7rem 0;
    justify-content: space-between;
}

.c-results {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;
}

.c-temp {
    width: 80%;
    margin-right: 1%;
}

.dashboard {
    top: 7rem;
}

.c-btn {
    margin: 12px auto;
    width: 90%;
    max-width: 700px;
    text-align: right;
}